.header {
  height: 8em;
  max-width: 1100px;
  width: 95%;
  top: 0px;
  margin:0 auto;
  justify-content: space-between;
  position:sticky;
  /* border: 1px solid; */
  z-index:1;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
